$mobile: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$main-color-red: #ff4b36;
$Rare-Button-Colors: #3e49f3;
$Rare-Bg-Color: #f1f4fa;
$Heading-and-title-color: #242424;
$Paragraph: #747474;
$Pure-White: #fff;
$Pure-Black: #000;
